section {
    font-family: roboto;
    width: 100%;
    margin-top: 10px;
  }
  
h2 {
    color: white;
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;
    border-left: 5px solid white;
    background-color: #4b4a4a;
  }

  h3 {
    color: white;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin: 20px 0;
    text-shadow: 2px 2px 3px #444444;
  }

.unidade {
    text-align: center;
    float: left;
    width: 33.333%;
    max-width: 33.333%;
}

.map {
  margin-bottom: 80px;
}

.map iframe {
  width: 80%;
  height: 350px;
}

.desc p {
    color: white;
}

.nome {
    text-transform: uppercase;
    margin-top: 10px;
}

@media (max-width: 1441px){
.map iframe {
    width: 300px;
    height: 300px;
}
  
.desc p {
  font-size: 13px;
}
}

@media (max-width: 800px){
.map iframe {
    width: 200px;
    height: 200px;
}
  
.desc p {
  font-size: 10px;
}
}

@media (max-width: 450px){
.map iframe {
    width: 250px;
    height: 250px;
}
  
.desc p {
  font-size: 15px;
  margin: 10px 5px 5px 5px;
}

.unidade {
  width: 100%;
  max-width: 100%;
}

h3 {
  font-size: 25px;
}
}